/*
	Photon by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Header */

	#header {
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#2d60ba", endColorStr="#8147bd", GradientType=1);
		position: relative;
	}

		#header:before {
			background-image: url("images/overlay2.png"), url("images/overlay3.svg");
			background-position: top left,							center center;
			background-size: auto,								cover;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#header > * {
			position: relative;
			z-index: 1;
		}

/* Footer */

	#footer {
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#8147bd", endColorStr="#2d60ba", GradientType=1);
		position: relative;
	}

		#footer:before {
			background-image: url("images/overlay2.png"), url("images/overlay4.svg");
			background-position: top left,							center center;
			background-size: auto,								cover;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#footer > * {
			position: relative;
			z-index: 1;
		}